---
const links = [
  { href: "/", label: "Full List" },
  { href: "/pokemons/1", label: "Paginated" },
  { href: "/favorites", label: "Favourites" },
];

const { pathname } = Astro.url;
---

<!-- component -->
<nav class="shadow bg-black">
  <div
    class="container flex items-center justify-center p-6 mx-auto capitalize text-gray-300"
  >
    {
      links.map(({ href, label }) => (
        <div>
          <a href={href} class="dark:text-gray-200 mx-1.5 sm:mx-6">
            {label}
          </a>
          { href === pathname &&
            <div 
                transition:name="menu-line"
                class="text-blue-200 border-b-2 border-blue-500 mx-4"
            >
            </div>}
        </div>
      ))
    }
  </div>
</nav>
