---
import PokemonCard from "@components/PokemonCard.astro";
import type { PokemonResponse } from "@interfaces/pokemon.response";
import MainLayout from "@layouts/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=160");
const data = (await resp.json()) as PokemonResponse;

const title = "Pokemon - Home page";
---

<MainLayout title={title}>
  <h1 class="text-3xl text-blue-100">Pokemon list</h1>
  <section
    aria-label="Pokemon list"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 mt-5"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
