---
import { Counter } from "@components/Counter";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Favorites">
  <Title>Favorites</Title>
  <FavoritePokemons client:only="solid-js" />
  <Counter
    transition:persist="counter"
    transition:persist-props
    initValue={14}
    client:idle
  />
</MainLayout>
